@model IEnumerable<Web_task_4.Models.Car>
@{
    ViewData["Title"] = "Select Car";
}

<p><i>Search Cars</i></p>
<form asp-controller="Home" asp-action="Index">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table-condensed" cellpadding="15" cellspacing="15">
    <tr>
        <td><h3><b>CARS:</b></h3></td>
    </tr>

    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Name</td>
            <td>|</td>
            <td><a href="~/Home/show/@car.Id">Information</a></td>
            <td>|</td>
            <td><a href="~/Home/edit/@car.Id">Edit car</a></td>
            <td>|</td>
            <td><a href="~/Home/delete/@car.Id">Delete car</a></td>
        </tr>
    }
</table>
<br>
<button>
    <a href="~/Home/create">Add new Car</a>
</button>
